@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* apply light */
  color-scheme: dark;
}

html {
  font-family: "Open Sans", sans-serif, sistem-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 640px) {
  main {
    margin: 0.5rem;
  }
}
