@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgba(17, 17, 17, 0.9);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
